@page "/"

<PageTitle>Home</PageTitle>
<RadzenButton Text="Test" Click="Test"></RadzenButton>

<S2TCard Title="Test">
    <Content>
        <div>test</div>
    </Content>
    <ActionButtons>
        <RadzenButton Text="Ok" Click="Test"></RadzenButton>
        <RadzenButton Text="Cancel" Click="Test"></RadzenButton>
    </ActionButtons>
</S2TCard>
