@page "/"



<PageTitle>Home</PageTitle>
<S2TCard Title="Welcome to Slack2Teams">
    <Content>
        <AuthorizeView>
            <Authorized>
                <S2TButton Icon="Key" Text="Sign into Slack" ButtonColor="ButtonStyle.Primary" OnClick="Callback" ></S2TButton>
            </Authorized>
            <NotAuthorized>
                <span>Login</span>
            </NotAuthorized>
        </AuthorizeView>
    </Content>
</S2TCard>
